*{
    margin: 0%;
    padding: 0;
}
body{
    font-family:arial,sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color: rgb(111, 119, 119);
    text-align: center;
    padding: 1em;

}
.img-perfil{
    width:10%;
    border-radius:50%;
}
/*cor que a foto fica dentro*/
footer{
    background-color:  rgb(111, 119, 119);
    text-align: center;
    padding: 1em;
}
/*Settings css here*/
.conteudo{
    background-color: white !important;
    padding: 2em !important;
    margin-top: 1em !important;
    border-radius: 30px !important;
    width: 100%; /*Largura*/
}
a{
    text-decoration: none !important; /*Azul do nome do link*/
    color: black; /*Cor do link*/
}
.principal{
    text-align: center !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
    margin-top: 1% !important;
    margin-bottom: 15% !important;
}
.img-icone{
    width: 100px !important; /*2:14*/
}
.txt-icone{
    font-size: 200% !important;
}
/*Configuração css da parte do whatsapp*/
.conteudo2{
    background-color:white !important;
    padding: 2em !important;
    margin-top: 1em !important;
    border-radius: 30px !important;
    width: 100%;
}
.whatsapp{
    width: 180px !important;
}
.txt-icone2{
    font-size: 200% !important;
}
.conteudo3{
    background-color:white !important;
    padding: 2em !important;
    margin-top: 1em !important;
    border-radius: 30px !important;
    width: 100%;
}
.likedin{
    width: 210px !important;
}
.txt-icone3{
    font-size: 200% !important;
}
.conteudo4{
    background-color:white !important;
    padding: 2em !important;
    margin-top: 1em !important;
    border-radius: 30px !important;
    width: 100%;
}
.git-hub{
    width: 150px !important;
}
.txt-icone4{
    font-size: 200% !important;
}
@media (win-width:200px) and (max-width:768px){
    .img-icone{
        width: 250% !important;
    }

    .txt-icone{
        font-size: 220% !important;
    }

    .conteudo{
        background-color: white !important;
        padding: 1em !important;
        margin-top: 2em !important;
        border-radius: 10px !important;
        width: 130%;
    }
    .principal{
        text-align: center !important;
        margin-left: 10% !important;
        margin-right: 25% !important;
        margin-top: 1% !important;
        margin-bottom: 50% !important;
    }
    .img-perfil{
        width: 30% !important;
        border-radius: 50% !important;
    }

}